.container-1 {
    width:100%;
    border:3px solid white;
    color:white;
    background-color:black;
    display:flex;
    padding:10px;
    justify-content:space-around;
    position:fixed;

}
.container-1>span a {
    text-decoration:none;
    color:white;
}
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}