*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container {
    width:98%;
    border:3px solid white;
    color:white;
    background-color:black;
    padding:10px;
    display:flex;
    gap: 30px;
    position:fixed;

}
.left{
    width:100%;
    display:flex;
    justify-content: end;
    padding-left:100px;
}
.container>span a{
    text-decoration:none;
    color:white;
}